.dropdown.select {
  cursor: pointer;
  user-select: none;
  *{
    box-sizing: border-box;    
  }
  .openner {
    position: relative;
    width: auto;
    padding: 0.5rem 1rem;
    border: 1px solid lightgray;
    padding-right: 2rem;
    min-width: 50px;
    border-radius: 3px;

    &:after {
      content: '';
      position: absolute;
      right: 0.5rem;
      top: 50%;
      height: 0;
      width: 0;
      border: 5px solid gray;
      border-left-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      transition: transform 300ms;
    }
  }

  ul.content {
    position: absolute;
    list-style-type: none;
    top: 100%;
    left: 0;
    z-index: 1000;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 1px solid #e1e1e1;
    animation: slideIn 300ms;
    border-top: 0;

    li {
      padding: 0.5rem 1rem;

      &:active{
        background: darken(white, 5%);
      }
    }
  }
  &.active {

    .openner {
      &:after {
        transform: translateY(-50%) rotateX(180deg);
      }
    }
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}