.dropdown.select{
  .openner{
    border: 1px solid black;
  }

  .content{
    position: absolute;

    top: 100%;
    left: 0;
    z-index: 1000;

    background-color: green;
  }

  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}